.swiper-wrapper {
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background: #f7f7f7;
  border-radius: 50%;
  &::after {
    width: 24px;
    height: 24px;
    content: "";
    background: url(("../images/arrow-slider.svg")) no-repeat center center;
  }
  @media (max-width: 576px) {
    display: none;
  }
}

.swiper-button-prev {
  left: -68px;
  &::after {
    position: relative;
    left: -1px;
  }
}

.swiper-button-next {
  right: -68px;
  &::after {
    transform: scale(-1, 1);
  }
}
